.github/
out
dist
node_modules
.vscode-test/
*.vsix
/sprites-export
.env

# npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.eslintcache
.node_repl_history
*.tgz
.yarn-integrity
package-lock.json

# macOS
.DS_Store
**/.DS_Store
